<header class="intro">
  <h1>About</h1>
</header>
<section class="main-section text-only">
  <div class="text-only__inner">
    <h2>
      Zeppelin University Learning Network
    </h2>
    </br></br>
    <p>
      The ZU Learning Network represents the coordination office of the Zeppelin University, which combines all activities concerning the promotion of refugees and their chances of integration.
      <br><br>
      Under the integration of all university resources LeNe aims to be an integrative teaching and learning program for refugees which can prepare them on the one hand for higher education or vocational training and on the other hand also provides meeting spaces and mutual exchange.
      <br><br>
      Here the mutual benefit of inclusion-oriented program for citizens of Friedrichshafen, ZU-students, faculty and staff of the University is a central concept component. 
      <br><br>
      Our intention is to reduce fear of contact and prejudice and stand up for openness and tolerance. The initiatives and university groups of the Zeppelin University are the main implementation partnes and support the Learning Network.
    </p>
  </div>
</section>