<header class="intro">
  <h1>Über uns</h1>
</header>
<section class="main-section text-only">
  <div class="text-only__inner">
    <h2>
      ZU Learning Network | LeNe
    </h2>
    </br></br>
    <p>
      Das ZU Learning Network stellt die Koordinationsstelle der Zeppelin Universität dar, welches sämtliche Aktivitäten hinsichtlich der Förderung von Geflüchteten und ihrer Integrationschancen bündelt. Unter der Einbindung aller universitären Ressourcen zielt LeNe darauf ab ein integratives Lehr- und Lernprogramm für Geflüchtete hervorzubringen, welches diese einerseits auf ein Hochschulstudium oder eine Berufsausbildung vorbereiten kann, andererseits aber auch Räume der Begegnung bzw. des gegenseitigen Austauschs schafft.
    </p>
  </div>
</section>
