<header class="intro">
  <h1>About</h1>
</header>
<section class="main-section text-only">
  <div class="text-only__inner">
    <h2>
      Zeppelin University Learning Network
    </h2>
    </br></br>
    <p>
      At Zeppelin University all activities concerning the promotion of refugees and their chances of integration are united under the roof of the Learning Network LeNe.
      <br><br>
      LeNe bundles the relevant university resources and provides an integral teaching and learning platform for refugees. LeNe helps refugees to qualify for vocational training and for higher education. LeNe also provides meeting space for exchange. 
      <br><br>
      It is LeNe’s core concept to provide an inclusion-oriented program for citizens of Friedrichshafen, ZU-students, faculty and staff of the university.
      <br><br>
      LeNe aims at reducing barriers, fear of contact and prejudice. It stand up for openness and tolerance. The student initiatives and groups of Zeppelin University are LeNe’s main partners and supporters.
      <br><br>
      LeNe offers a variety of courses, events, weekly programs, and other activities.
    </p>
  </div>
</section>
