<header class="intro">
  <h1>How it works</h1>
</header>
<section class="main-section text-only">
  <div class="text-only__inner">
    <h2>
      Application | Zeppelin University Learning Network
    </h2>
    </br></br>
    <p>
      ruby 2.2.4p230 (2015-12-16 revision 53155) [i386-mingw32]
      <br><br>
      Rails 4.2.6
      <br><br>
      
    </p>
  </div>
</section>