<header class="intro">
  <h1>Imprint</h1>
</header>
<section class="main-section text-only">
  <div class="text-only__inner">
    <h2>
      Ligula rhoncus senectus convallis donec magna fusce. Vehicula morbi dignissim rhoncus inceptos adipiscing montes!
    </h2>
    <p>
      Habitasse curabitur primis etiam. Nibh fringilla id massa dui mus enim auctor est. Erat, duis varius libero praesent accumsan condimentum fringilla eget facilisis nostra. Curae; eget lorem, sem tellus. Morbi iaculis, aenean molestie proin. Volutpat hac quam etiam, viverra eget tortor scelerisque vestibulum tellus? Sociis integer dictumst viverra. Conubia pretium litora enim. At diam aptent aptent quisque primis malesuada. Mi, interdum curae; rhoncus.
      <br><br>
      Dis justo cras litora sem diam erat faucibus. Condimentum eu dui torquent vel consequat nec? Aliquet ridiculus maecenas neque posuere penatibus cursus tempus per cubilia. Per dolor tortor tincidunt blandit donec interdum. Aptent etiam tortor, curabitur eleifend. Purus neque suspendisse quisque sed proin rutrum aptent lacinia parturient cubilia maecenas. Neque erat quam, senectus mauris sociosqu iaculis vulputate varius mattis nascetur ac? Venenatis.
      <br><br>
      Interdum vehicula odio semper primis. In himenaeos natoque porta eget conubia nulla tellus pretium arcu feugiat. Duis cum, congue faucibus. Odio aliquet, vestibulum praesent iaculis facilisis. Ipsum parturient sociis orci felis viverra blandit magnis turpis. Placerat lorem dapibus scelerisque commodo senectus! Consequat aenean nulla non integer aliquet et habitasse nisi.
      <br><br>
      Ut, conubia enim blandit arcu iaculis. Nunc curabitur fringilla phasellus lacinia dapibus sodales ipsum litora felis sed. Massa vehicula velit hac risus? Ullamcorper lacus ridiculus aliquam diam orci mus hendrerit lobortis natoque, augue dignissim. In pellentesque luctus mollis ridiculus id vehicula tempor parturient. Sollicitudin mollis augue aliquet ac magnis justo magnis justo odio class quam viverra. Aptent nibh eleifend integer sapien eleifend phasellus sociosqu elementum varius! Congue curabitur cubilia montes. Cras augue a ornare penatibus pulvinar! Aliquam cum lorem lacinia convallis. Donec eleifend odio dis; iaculis.
    </p>
  </div>
</section>