<header class="intro">
  <h1>Partners</h1>
</header>
<section class="main-section text-only">
  <div class="text-only__inner">
    <h2>
      CodeCats
    </h2>
    <div class="acknowledgement-element"> <%= image_tag 'cc_1.png' %> </div>
    </br></br>
    <p>
      CodeCats is an initiative founded by students from the Zeppelin University to excite young people for the digital world of programming. We teach tools and methods that create websites and apps from ideas and believe that programming is part of a good general knowledge.
    </p>
  </div>
</section>