<div class="panel panel-default">
  <div class="panel-body">
    <p>Danke. Wir haben Ihre Nachricht erhalten und werden uns schnellstmöglich bei Ihnen melden.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->