<header class="intro">
  <h1>Updates</h1>
</header>
<section class="main-section text-only">
  <div class="text-only__inner">
    <h2>
      v49 - Update | 30.10.2016
    </h2>
    </br>
    <p>
      | Added in CMS for static pages <br>
      | Changed E-Mail(s) <br>
    </p>
    <h2>
      v48 - Hotfix | 25.09.2016
    </h2>
    </br>
    <p>
      | Editor links fixed <br>
      | Added dynamic links in footer <br>
      | Changed 'about' and 'impressum' texts<br>
    </p>
    <h2>
      v47 - Release | 05.09.2016
    </h2>
    </br>
    <p>
      | The application is now released.
    </p>
  </div>
</section>