<header class="intro">
  <h1>Updates</h1>
</header>
<section class="main-section text-only">
  <div class="text-only__inner">
    <h2>
      Update 1.0 | 05.09.2016
    </h2>
    </br></br>
    <p>
      The application is now realised.
    </p>
  </div>
</section>