<header class="intro">
  <h1>Updates</h1>
</header>
<section class="main-section text-only">
  <div class="text-only__inner">
    <h2>
      v72 - Update | 16.02.2017
    </h2>
    </br>
    <p>
      | Das Hochladen von Bildern für Veranstaltungen implementiert <br>
      | Standard-Bilder für Kurse hinzugefügt <br>
      | Passwort zurücksetzen und Action Mailer gefixed <br>
    </p>
    <h2>
      v69 - Update | 13.02.2017
    </h2>
    </br>
    <p>
      | Time & Date Picker auf Deutsch übersetzt <br>
      | Bilder Größe reduziert <br>
      | Bug beim Scrollen entfernt <br>
    </p>
    <h2>
      v68 - Update | 08.02.2017
    </h2>
    </br>
    <p>
      | Seite auf Deutsch übersetzt <br>
      | Bilder und Texte überarbeitet <br>
      | Partner und Förderer eingefügt und überarbeitet <br>
      | Bug bei dem die verlinkten Seiten nicht laden gefixed <br>
      | Design Änderungen <br>
    </p>
    <h2>
      v49 - Update | 30.10.2016
    </h2>
    </br>
    <p>
      | Added in CMS for static pages <br>
      | Changed E-Mail(s) <br>
    </p>
    <h2>
      v48 - Hotfix | 25.09.2016
    </h2>
    </br>
    <p>
      | Editor links fixed <br>
      | Added dynamic links in footer <br>
      | Changed 'about' and 'impressum' texts<br>
    </p>
    <h2>
      v47 - Release | 05.09.2016
    </h2>
    </br>
    <p>
      | The application is now released.
    </p>
  </div>
</section>