<header class="intro">
  <h1>Updates</h1>
</header>
<section class="main-section text-only">
  <div class="text-only__inner">
    <div class="acknowledgement-element"> <%= image_tag 'github.png' %> </div>
    <h2>
      Update 1.0 | 
    </h2>
    </br></br>
    <p>
      The application is now realised.
    </p>
  </div>
</section>