<table>
  <tbody>
    <tr>
      <td><h2>Willkommen!</h2></td>
    </tr>
    <tr>
      <td><p>Danke für die Registrierung bei LearningNetwork! Solltest du Probleme haben zögere nicht uns zu <a href="http://www.zu-lene.de/static_pages/contact">kontaktieren.</a></p></td>
    </tr>
    </br>
    <tr>
      <td><p><strong>Dein LearningNetwork Team!</strong></p></td>
    </tr>
  </tbody>
</table>