<table>
  <tbody>
    <tr>
      <td><h2>Welcome!</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for signing up to the Zeppelin University LearningNetwork! If you have any problems feel free to <a href="http://www.zu-lene.de/static_pages/contact">contact us.</a></p></td>
    </tr>
    </br>
    <tr>
      <td><p><strong>Your LearningNetwork Team!</strong></p></td>
    </tr>
  </tbody>
</table>