<header class="intro txt-ignore">
  <h1>Editing Course</h1>
</header>

<%= render 'form' %>

<div class="edit-button--frame txt-ignore">
  <%= link_to 'Show', @course, :class => "mdl-button mdl-js-button mdl-js-ripple-effect sign-up_button" %>
  <%= link_to 'Back', courses_path, :class => "mdl-button mdl-js-button mdl-js-ripple-effect sign-up_button" %>
</div>