<header class="intro">
  <h1>New Course</h1>
</header>

<%= render 'form' %>

<div class="edit-button--frame">
  <%= link_to 'Back', courses_path, :class => "mdl-button mdl-js-button mdl-js-ripple-effect sign-up_button" %>
</div>