<header class="intro txt-ignore">
  <h1>Neue Veranstaltung</h1>
</header>

<%= render 'form' %>

<div class="edit-button--frame txt-ignore">
  <%= link_to 'Zurück', courses_path, :class => "mdl-button mdl-js-button mdl-js-ripple-effect sign-up_button" %>
</div>