// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic);

$accent-color: rgba(0,150,136,1);
$background-color: rgba(147, 147, 147,1);
$background-color__main: rgba(0,150,136,1);
$background-color__light: rgb(246, 246, 246);
$accent-color__light: rgba(146,203,197,1);
$accent-color__warning: rgba(249,124,124,1);
$font-sans: 'Roboto', sans-serif;

html,
body,
p,
a {
  color: #757575;
  font-family: $font-sans;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  color: #757575;
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button.mdl-button.mdl-button--raised.button-light,
input.mdl-button.mdl-button--raised.button-light {
  background-color: $accent-color__light;
}

button.mdl-button.mdl-button--raised.button-warning,
input.mdl-button.mdl-button--raised.button-warning,
a.mdl-button.mdl-button--raised.button-warning {
  background-color: $accent-color__warning;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised {
  background-color: $accent-color;
}

.mdl-button--accent.mdl-button--accent {
  color: $accent-color;
}

a.mdl-button.mdl-button--raised.button-warning {
  color: black;
}

.mdl-textfield.is-focused .mdl-textfield__label:after {
  background-color: $accent-color__light;
}
.mdl-textfield .mdl-textfield__label:after {
  background-color: $accent-color__light;
}

// --- dropper ---
.dd-y .dd-ul ul li,
.dd-m .dd-ul ul li,
.dd-w .dd-c .dd-sub-y ul li {
  line-height: 46px;
}

.dd-b ul li {
  line-height: 1;
}

#td-clock-1 .td-clock {
  box-shadow: 0 0 0 1px rgba(147, 147, 147,1),0 2px 5px 0 rgba(0, 0, 0, 0.5) !important;
  border-radius: 2px;
}

// ---

.mdl-layout-title,
.mdl-layout__header .mdl-layout__drawer-button,
.mdl-navigation {
  color: $background-color;
}

.mdl-layout-title {
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    background: none;
    color:  #757575;
  }
  @media(max-width: 480px) {
    font-size: 15px;
  }
}

.mdl-layout__drawer .mdl-layout-title {
  font-size: 12px;
}

.drawer-title {
  display: inline-block;
}

.mdl-layout.is-small-screen .mdl-layout--large-screen-only {
  @media(min-width: 840px) {
    display: flex;
  }
}

.mdl-navigation__link:hover {
  background: none;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: $accent-color
}

@media(max-width: 480px) {
  .mdl-layout__header-row {
    padding-left: 56px;
  }
}

.mdl-button a {
  color: white;
  text-decoration: none;
}

.mdl-logo {
  font-size: 14px;
  @media(max-width: 759px){
    margin-bottom: 0;
    font-size: 12px;
  }
}

.mdl-mega-footer--link-list a, 
.mdl-mega-footer__link-list a {
  font-size: 14px;
  &:hover {
    background: none;
  }
}

.social-media {
  background-color: $background-color__light;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 80%;
    padding: 0;
    flex-wrap: wrap;
    @media(min-width: 480px) {
      width: 65%;
    }
  }
  li {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    &:hover {
      background: none;
    }
  }
}

//---

.head {
  position: relative;
  height: 750px;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media(min-width: 840px) {
    justify-content: flex-end;
    align-items: flex-end;
  }
  &:before {
    content:'';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: image-url("head.jpeg") no-repeat center;
    background-size: cover;
    z-index: -1;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(1);
  }
}

.head__frame {
  width: 80%;
  @media(min-width: 840px) {
    width: 55%;
  }
  h1,
  p {
    color: white;
    font-family: $font-sans;
  }
  h1 {
    font-size: 40px;
    margin: 0 0 10px;
  }
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
  }
}

.head__content {
  padding: 0;
  @media(min-width: 840px) {
    padding: 0 80px 70px 0;
  }
  .mdl-button--accent.mdl-button--accent.mdl-button--raised {
    background-color: $accent-color__light;
    color: black;
  }
}

.main-section {
  min-height: 600px;
  display: flex;
  h1 {
    font-weight: 100;
    font-size: 30px;
    color: rgb(68,68,68);
    margin-top: 0;
    @media(min-width: 480px){
      font-size: 42px;
    }
  }
  p {
    line-height: 1.5;

  }
  .main-section__cell {
    display: flex;
    align-items: center;
    &:nth-child(odd) {
      display: flex;
      justify-content: center;
      @media(min-width: 840px){
        justify-content: flex-end;
      }
    }
    &:nth-child(even) {
      display: flex;
      justify-content: center;
      @media(min-width: 840px){
        justify-content: flex-start;
      }
    }
  }
}

.main-section__small {
  min-height: 400px;
}

.main-section__quote {
  display: flex;
  align-items: center;
  justify-content: center;
  h1,
  h2 {
    margin: 0;
    text-align: center;
  }
  h1 {
    font-style: italic;
  }
  h2 {
    font-size: 15px;
    font-weight: 300;
    &:before {
      content: '-';
    }
  }
  .quote-frame {
    width: 80%;
    padding: 80px 0;
    @media(min-width: 480px) {
      width: 60%;
    }
    @media(min-width: 840px) {
      width: 40%;
    }
  }
}

.main-section_inner {
    width: 90%;
    padding: 50px 0;
    @media(min-width: 840px){
      width: 80%;
      padding: 50px;
    }
}

.main-section__colored {
  background-color: rgb(246, 246, 246)
}

.main-section__highlight {
  background: $background-color__main;
  padding: 0;
  .highlight-cell {
    margin: 0;
  }
  .highlight-pic {
    background: image-url("element.jpeg") no-repeat center top;
    background-size: cover;
    margin: 0;
    height: 100%;
    min-height: 300px;
    width: 100%;
  }
  h1, p {
    color: white;
  }
  .main-section_inner {
    margin: 0 auto;
  }
}

.acknowledgement {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  @media(min-width: 840px) {
    width: 70%;
  }
  .acknowledgement-element {
    margin: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    &:first-of-type {
      margin-top: 40px;
    }
    &:last-of-type {
      margin-bottom: 40px;
    }
  }
  img {
    max-width: 180px;
  }
}

// --- Head section
header.intro {
  height: 200px;
  text-align: center;
  background-color: $background-color__light;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-weight: 100;
    font-size: 30px;
    color: rgb(68,68,68);
    margin-top: 0;
    @media(min-width: 480px){
      font-size: 42px;
    }
  }
}

.text-only {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__inner {
    width: 90%;
    @media(min-width: 480px) {
      width: 80%;
    }
    @media(min-width: 840px) {
      width: 70%;
    }
    @media(min-width: 1200px) {
      width: 50%;
    }
    h2 {
      font-weight: 100;
      font-size: 30px;
      color: rgb(68,68,68);
      margin-top: 0;
      line-height: 1.3em;
      @media(min-width: 480px){
        font-size: 20px;
      }
    }
  }
}

.custom-card-grid {
  padding: 20px;
}

.card-title {
  background: rgb(189, 189, 189);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  .card-title-section {
    background: rgba(66, 66, 66, .5);
    min-height: 100px;
    width: 100%;
    padding: 10px;
    .mdl-textfield {
      width: 50%;
    }
    .mdl-textfield__input {
      border-color: rgba(255, 255, 255, .5);
      color: white;
      font-family: $font-sans;
      font-size: 20px;
    }
    .mdl-textfield__label {
      color: rgba(255, 255, 255, .5);
      font-size: 20px;
    }
  }
  .upload-field {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
}

.card-title-section h2 {
  color: white;
  font-size: 12px;
  line-height: 1em;
  margin: 0 0 10px;
}

.title-section--buttons {
  margin: 20px 0 25px;
  button {
    margin-left: 10px;
    margin-right: 10px;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  form {
    display: inline-block;
  }
}

.card-info--edit {
  width: 100%;
}

.edit-grid {
  .text-form {
    padding: 16px;
  }
  .card-info--edit .text-form.text-form__description .mdl-textfield {
    width: 100%;
    &__input {
      min-height: 200px;
    }
  }
  .mdl-textfield {
    width: 100%;
  }
}

.custom-card__title {
    padding-bottom: 0;
}

.custom-card__title-text{
  font-size: 20px;
  font-weight: 400;
}

.custom-card__supporting-text {
  padding-top: 5px;
  font-size: 0.8rem;
  line-height: 1.2em;
  margin: 0;
}

.card-devided {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-section__frame {
  width: 100%;
  @media(min-width: 480px) {
    width: 70%;
  }
}

.background-icon__frame {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color__light;
  margin: 15px;
}

.background-icon {
  &:after {
    content: "location_city";
    font-family: 'Material Icons';
    font-size: 70px;
    line-height: 1em;
  }
}

.time-label {
  padding: 16px 16px 0 16px;
  label {
    font-size: 14px;
    text-transform: uppercase;
  }
}

.edit-grid .time-form {
  padding-top: 0;
}

.time-form {
  input {
    border: none;
    font-size: 30px;
    width: 100%;
    &:active,
    &:focus {
      outline: none;
    }
  }
}

.event-time {
  padding: 16px 16px 20px 16px;
  display: flex;
  input {
    border: none;
    font-size: 30px;
    &:active,
    &:focus {
      outline: none;
    }
  }
  label {
    font-size: 14px;
    text-transform: uppercase;
  }
  .event-time--value {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.course-listing {
  max-width: 1200px;
  margin: 0 auto;
}

.listing--card_picture {
  background-color: rgb(189,189,189);
  width: 100%;
  height: 175px;
}

.listing--course_card {
  width: 100%;
  height: 100%;
}

.listing__custom-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.listing__card-box {
  padding: 16px;
}

.listing__card-box--date {
  padding-top: 0px;
  padding-bottom: 15px;
  font-size: 0.8rem;
}

.card-box--description {
  flex: 1;
}

.card-box__description {
  min-height: 150px;
  font-size: 0.8rem;
  line-height: 1.4em;
  h1 {
    margin: 0;
    font-size: inherit;
    font-weight: 500;
  }
}

.card-box--buttons div{
  justify-content: space-between;
  display: flex;
}

.creator-menu__item {
  font-size: 16px;
  color: #757575;
  font-weight: 500;
}

.creator-menu__item a,
.creator-menu--frame a {
  text-decoration: none;
}

.creator-menu--warning li {
  color: $accent-color__warning;
}

.login--background {
  position: relative;
  height: 750px;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &:before {
    content:'';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: image-url("head.jpeg") no-repeat center;
    background-size: cover;
    z-index: -1;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(1);
  }
}

.login-card__custom {
  padding: 25px;
}

.mdl-card__login {
  padding: 0;
}

.login--supporting-text {
  padding: 0;
  margin: 10px 0 30px;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
}

.devise--frame {
  width: 90%;
  margin: 100px auto; 
  max-width: 400px;
  text-align: center;
  .devise__textfield {
    display: block;
    margin: 0 auto;
  }
  .devise__remember {
    margin: 0 auto;
    width: 150px;
  }
  input.mdl-button.mdl-button--raised.login__button {
    margin: 50px 0 0;
    background-color: $background-color__main; 
  }
  .sign-up_button,
  .sign-up_button:hover {
    color: #666;
  }
  .sign-up_button {
    background: rgba(0,0,0, 0.05);
  }
  .sign-up_button:hover {
    background: rgba(0,0,0, 0.1)
  }
  .sign-up__frame {
    display: block;
    margin: 10px 0;
  }
  a.forgot_password {
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: #666;
    &:hover {
      background: none;
      text-decoration: none;
      color: #666;
    }
  }
  .mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background-color: $background-color__main;
  }
  .mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border-color: $background-color__main;
  }
}

.edit-button--frame {
  padding: 0px 20px 28px 28px;
  .sign-up_button,
  .sign-up_button:hover {
    color: #666;
  }
  .sign-up_button {
    background: rgba(0,0,0, 0.05);
  }
  .sign-up_button:hover {
    background: rgba(0,0,0, 0.1)
  }
}

.contact--frame {
  width: 90%;
  max-width: 600px;
  margin: 120px auto;
  text-align: center;
}

.contact--field {
  display: block;
  width: 100%;
}

.form-send__button {
  margin-top: 30px;
}

.send-password--frame {
  margin: 100px 0;
  text-align: center;
  .sign-up__frame {
    display: inline-block;
    margin: 0 5px;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  .sign-up_button,
  .sign-up_button:hover {
    color: #666;
    margin-top: 30px;
  }
  .sign-up_button {
    background: rgba(0,0,0, 0.05);
  }
  .sign-up_button:hover {
    background: rgba(0,0,0, 0.1)
  }
  input.mdl-button.mdl-button--raised.login__button {
    background-color: $background-color__main; 
  }
}

.course-show {
  .intro h1 {
    font-size: 35px;
    max-width: 600px;
    margin: 0 auto;
  }
  .show-grid {
    padding: 0;
    max-width: 1200px;
  }
  .show-cell {
    
  }
  .side-card {
    margin: 16px 0;
    box-sizing: border-box;
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .main-card {
    width: 100%;
  }
  .title-container {
    width: 65%;
  }
  .show-title {
    overflow: visible;
    white-space: normal;
    font-size: 20px;
  }
  .show--card-title {
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }
  .show--supporting-text {
    padding: 0;
  }
  .add-button {
    width: 30%;
    text-align: right;
  }
  .add-button--style {
    background-color: $accent-color;
    color: white;
    height: auto;
    padding: 10px;
    line-height: 16px;
  }
  .header-picture {
    background-color: rgb(189,189,189);
    width: 100%;
    height: 300px;
  }
  .description {
    padding: 25px;
    h1,
    p {
      font-size: 15px;
      line-height: 22px;
    }
    h1 {
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
}