<p>Willkommen <%= @email %>!</p>

<p>Du kannst deine Benutzer E-Mail mit dem folgenden Link bestätigen:</p>

<p><%= link_to 'Bestätige meinen Benutzer', confirmation_url(@resource, confirmation_token: @token) %></p>
