<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link angefragt um dein Passwort zu 채ndern. Du kannst dies 체ber den unten angezeigten Link tun.</p>

<p><%= link_to 'Mein Passwort 채ndern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Solltest Du dies nicht angefragt haben, bitten wir Dich diese E-Mail zu ignorieren.</p>
<p>Dein Passwort wird sich nicht 채ndern solange du nicht den Link anklickst und ein neues Passwort vergibst.</p>
