<p>Hallo <%= @resource.email %>!</p>

<p>Dein Benutzer wurde auf Grund zu vieler Login Versuche gesperrt.</p>

<p>Bitte drücke auf den unten eingeblendeten Link um diesen wieder freizuschalten:</p>

<p><%= link_to 'Benutzer freischalten', unlock_url(@resource, unlock_token: @token) %></p>
